<div class="block">
	<div class="block-header block-header-default">
		<h3 class="block-title">Datos</h3>
		<div class="block-options"></div>
	</div>
	<div class="block-content">
		<div class="form-group row">
			<div class="col-md-6 col-sm-12">
				<div class="form-material floating">
					<input type="text" class="form-control" id="nombrealumno" name="nombrealumno" required>
					<label for="nombrealumno">Nombre del Alumno</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-material floating">
					<input type="text" class="form-control" id="correo" name="correo" required>
					<label for="nombrealumno">Correo</label>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="form-material floating">
					<input type="text" class="form-control" id="matricula" name="matricula" required>
					<label for="matricula">Matricula</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-6 col-sm-12">
				<div class="form-material floating">
					<input type="text" class="form-control" id="telefono" name="telefono" required>
					<label for="telefono">Teléfono</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-6">
				<div class="form-material floating">
					<select class="form-control" id="carrera" name="carrera" required>
						<option></option>
						<!-- Empty value for demostrating material select box -->
						<option value="LAG-BIS">Licenciatura en Administración y Gestión de Pequeñas y Medianas Empresas</option>
						<option value="IQU-BIS">Ingeniería en Tecnoligias de Manufactura</option>
						<option value="ITM-BIS">Ingeniería Química</option>
						<option value="ITM-BIS">Licenciatura en Administración y Gestión de Pequeñas y Medianas Empresas-BIS</option>
						<option value="IQU-BIS">Ingeniería en Tecnoligias de Manufactura</option>

					</select>
					<label for="carrera">Carrera que estudia</label>
				</div>
			</div>
		</div>
	</div>
</div>
